build/
devel/
.catkin_workspace

**build/
**devel/
**.catkin_workspace

follow1/build/
follow1/devel/
follow1/.catkin_workspace
pos_follow1/build/
pos_follow1/devel/
pos_follow1/.catkin_workspace
pos_follow2/build/
pos_follow2/devel/
pos_follow2/.catkin_workspace
follow2/build/
follow2/devel/
follow2/.catkin_workspace
master1/build/
master1/devel/
master1/.catkin_workspace
master2/build/
master2/devel/
master2/.catkin_workspace

